.login-container {
  max-width: 300px;
  height: 400px;
  margin: 50px auto;
  padding: 20px;
  margin-top: 15svh;
  background-color: var(--alt-card-color);
  border: 1px solid var(--button-border-color);
  border-radius: 12px;
}

.login-container h1 {
  text-align: center;
  font-size: 36px;
  color: var(--text-color, #333);
}

h1 {
  margin-bottom: 0px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  min-width: 150px;
}
.form input {
  background: var(--button-color);
}
.login-button {
  margin: 30px 0px;
  width: 140px;
}
h3 {
  text-align: center;
  font-size: 16px;
}
.login-register-link {
  font-weight: bold;
  color: var(--accent-color);
  cursor: pointer;
}
@media screen and (max-width: 941px) and (orientation: landscape) {
  .loginForm {
    padding-top: 20px;
  }
  h1 {
    margin-top: 10px;
  }
}
