.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}
.filter select,
.filter input {
  padding: var(--button-padding);
  background: var(--button-color);
  color: var(--text-color);
  border: 1px solid var(--button-border-color);
  border-radius: var(--button-border-radius);
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
  cursor: pointer;
  width: 150px;
}

.filter select:hover,
.filter input:hover {
  border-color: var(--button-hover-border-color);
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}

.filter input::placeholder {
  color: rgb(192, 184, 184);
}

.filter button {
  width: 120px;
  height: 38px;
  border: none;
}

@media (max-width: 671px) {
  .filter select,
  .filter input,
  .filter button {
    width: 100px;
    height: 35px;
    font-size: 12px;
  }
}
