.register-container {
  max-width: 300px;
  height: 420px;
  margin: 50px auto;
  padding: 20px;
  margin-top: 15svh;
  background-color: var(--alt-card-color);
  border: 1px solid var(--button-border-color);
  border-radius: 12px;
}

.register-container h1 {
  text-align: center;
  font-size: 36px;
  color: var(--text-color);
}

h1 {
  margin-bottom: 0px;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  min-width: 150px;
}

h4 {
  text-align: center;
  color: var(--text-color);
}

.register-btn {
  margin: 30px 0px;
  width: 140px;
}
.register-login-link {
  font-weight: bold;
  color: var(--accent-color);
}
@media screen and (max-width: 941px) and (orientation: landscape) {
  .register-form {
    padding-top: 20px;
  }
}
