.register-container {
  max-width: 300px;
  height: 420px;
  margin: 50px auto;
  padding: 20px;
  margin-top: 15svh;
  background-color: var(--alt-card-color);
  border: 1px solid var(--button-border-color);
  border-radius: 12px;
}

.register-container h1 {
  text-align: center;
  font-size: 36px;
  color: var(--text-color);
}

h1 {
  margin-bottom: 0px;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70svh;
  padding-top: 50px;
  min-width: 150px;
}

.register-btn {
  margin-top: 30px;
  width: 140px;
}
