.register-container {
  max-width: 300px;
  height: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: var(--alt-card-color);
  border: 1px solid var(--button-border-color);
  border-radius: 12px;
}

.register-container h1 {
  text-align: center;
  font-size: 36px;
  color: var(--text-color, #333);
}

h1 {
  margin-bottom: 0px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70svh;
  padding-top: 50px;
  min-width: 150px;
}

#form > input,
#username,
#password,
#email {
  width: 200px;
  padding: var(--button-padding);
  margin: 15px 0;
  border-radius: var(--button-border-radius);
  border: 1px solid var(--input-border-color);
}

#registerbtn {
  margin-top: 20px;
  width: 120px;
  padding: var(--button-padding);
  border: 1px solid var(--button-border-color);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  background-color: var(--button-color);
  transition: all 0.2s ease;
}

#registerbtn:hover {
  transform: scale(1.05);
  border: 1.5px solid var(--button-hover-border-color);
}
