.dog-fact-container {
  background-color: var(--alt-card-color);
  padding: 1.5rem;
  width: 90%;
  border-radius: 10px;
  border: 1px solid var(--button-border-color);
  text-align: center;
  margin: auto;
  margin-top: 100px;
}

.dog-fact {
  font-size: 1.2rem;
  margin: 1rem 0;
  margin-bottom: 30px;
  color: #333;
}

p {
  margin-bottom: 25px;
}

.new-fact-btn,
.fact-details-btn {
  width: 140px;
  margin: 0px 20px;
  border: none;
}

.new-fact-btn:hover,
.fact-details-btn:hover {
  transform: scale(1.1);
}

.dog-img {
  margin: auto;
  max-width: 100%;
  margin-top: 15px;
  border-radius: 12px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.42);
  border-bottom: 2px solid rgb(6, 5, 5);
}

.fact-close-btn {
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 40px;
  cursor: pointer;
}

.fact-close-btn:hover {
  transform: scale(1.2);
  color: var(--accent-color);
}

@media (max-width: 425px) {
  .dog-fact-container {
    margin-top: 50px;
  }
  .new-fact-btn,
  .fact-details-btn {
    scale: 0.8;
  }
  .fact-details-btn {
    margin-left: 0;
  }
  .new-fact-btn {
    margin-right: 0;
  }
}
