.dog-fact-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--alt-card-color);
  padding: 15px;
  width: 90%;
  border-radius: 10px;
  border: 1px solid var(--button-border-color);
  text-align: center;
  margin: auto;
  margin-top: 15svh;
}
.dog-fact-header {
  color: var(--text-color);
}
.dog-fact {
  font-size: 1.1rem;
  margin: 1rem 0;
  color: #333;
}

.fact-spinner {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -65%);
  color: var(--accent-color);
}

.loading-dog-fact {
  color: var(--text-color);
}

.fact-text {
  color: var(--text-color);
  margin-bottom: 25px;
}

.new-fact-btn {
  width: 140px;
  margin-bottom: 15px;
  border: none;
}

@media (max-width: 459px) {
  .new-fact-btn {
    width: 120px;
    margin-right: 10px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 941px) and (orientation: landscape) {
  .dog-fact-container {
    width: 80%;
    height: 65svh;
  }
  .new-fact-btn {
    position: absolute;
    bottom: 2%;
    left: 37.5%;
  }
}
