.profile-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: var(--alt-card-color);
  border: 1px solid var(--button-border-color);
  border-radius: 12px;
}

.profile-container h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  color: var(--text-color, #333);
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-form label {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
  color: var(--text-color, #333);
  font-size: 16px;
}

.profile-form input {
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  border: 1px solid var(--button-border-color);
  font-size: 14px;
  transition: border-color 0.2s;
  width: 200px;
}

.profile-form input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.password-input-wrapper input {
  margin-bottom: 0;
}

.profile-buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}

.profile-update-button,
.profile-delete-button {
  width: 150px;
}

@media (max-width: 704px) {
  .profile-container {
    padding: 15px;
    margin: 20px;
  }
  .profile-form input {
    .profile-container h1 {
      font-size: 28px;
    }

    .update-btn,
    .delete-btn {
      font-size: 16px;
    }
  }
}
