.profile-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: var(--alt-card-color);
  border: 1px solid var(--button-border-color);
  border-radius: 12px;
}

.profile-container h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 15px;
  color: var(--text-color, #333);
  margin-top: 0;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-form label {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
  color: var(--text-color, #333);
  font-size: 16px;
}

.profile-form input {
  margin: 10px 0 0 0;
}

.profile-buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}

.profile-update-button,
.profile-delete-button {
  width: 150px;
}

.delete-modal-text {
  color: var(--alt-text-color);
}

.modal-buttons:first-child {
  color: var(--text-color);
}

@media (max-width: 704px) {
  .profile-container {
    padding: 15px;
    margin: 60px 20px;
  }
  .profile-form input {
    .profile-container h1 {
      font-size: 28px;
    }

    .update-btn,
    .delete-btn {
      font-size: 16px;
    }
  }
}
