.game {
  text-align: center;
  padding: 15px;
}
.game h1 {
  color: var(--text-color);
  font-size: 30px;
  text-align: center;
  padding-top: 10svh;
}
.question-text {
  color: var(--text-color);
}

.game h2 {
  margin-top: 15px;
  font-size: 30px;
}

.game-text {
  color: var(--text-color);
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
}
.start-btn {
  width: 200px;
  font-size: 30px;
  margin: 50px 20px;
}

.score {
  color: var(--text-color);
  margin-top: 1rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.score-num {
  color: red;
}

.heart {
  color: var(--text-color);
}

.time {
  color: var(--text-color);
}

.live {
  color: var(--text-color);
}
.breed {
  color: #8e44ad;
  text-transform: capitalize;
}

.dog-grid {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.dog-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.2s;
  box-shadow: 10px 10px 42px -9px rgba(0, 0, 0, 0.75);
}

.dog-image:hover {
  transform: scale(1.05);
}

.lives {
  font-size: 1.2rem;
  color: crimson;
  margin-bottom: 1rem;
}

.game-timer p {
  color: var(--text-color);
  font-size: 16px;
}
.timer-icon {
  width: 20px;
  height: 30px;
}

.live-icon {
  width: 30px;
  height: 30px;
}

.game-over {
  font-size: 30px;
  color: var(--accent-color);
}

.restart-btn {
  margin-top: 50px;
}

.repeat {
  margin-bottom: 60px;
}

.game-timer {
  font-size: 1.2rem;
  color: #ff4d4d;
  font-weight: bold;
  margin-bottom: 1rem;
}

@media (max-width: 967px) {
  .dog-image {
    width: 250px;
    height: 280px;
  }
  h1 {
    margin-top: 10px;
  }
}
@media (max-width: 814px) {
  .dog-image {
    width: 220px;
    height: 260px;
  }

  @media (max-width: 757px) {
    .dog-image {
      width: 200px;
      height: 230px;
    }
    @media (max-width: 668px) {
      .dog-image {
        width: 180px;
        height: 210px;
      }
      @media (max-width: 609px) {
        .dog-image {
          width: 160px;
          height: 160px;
        }
        @media (max-width: 450px) {
          .dog-grid {
            margin-top: 30px;
            gap: 10px;
          }
          .score-lives {
            display: flex;
            align-items: baseline;
            justify-content: space-evenly;
          }

          .game h1 {
            font-size: 28px;
            margin-bottom: 0;
          }

          .timer,
          .score,
          .lives {
            font-size: 0.9rem;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
