.game {
  text-align: center;
  padding: 15px;
}
h1 {
  font-size: 45px;
  text-align: center;
  margin-top: 15px;
  font-weight: 400;
}
.game-text {
  font-size: 24px;
  margin-top: 40px;
  text-align: center;
}
.start-btn {
  padding: var(--button-padding);
  font-size: 30px;
  font-weight: 300;
  background-color: var(--fill-button-color);
  color: var(--button-color);
  border: none;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  margin: 50px 20px;
}

.start-btn:hover {
  background-color: var(--fill-button-hover-color);
  transform: scale(1.1);
}

.score {
  margin-top: 1rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.score-num {
  color: red;
}

.heart {
  color: black;
}

.time {
  color: black;
}

.live {
  color: black;
}
.breed {
  color: #8e44ad;
  text-transform: capitalize;
}

.dog-grid {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.dog-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  border: var (--button-border-radius);
  border: var (--button-border-color) 3px solid transparent;
  transition: transform 0.2s;
  box-shadow: 10px 10px 42px -9px rgba(0, 0, 0, 0.75);
}

.dog-image:hover {
  transform: scale(1.05);
  border: var (--button-border-color) 2px solid;
}
.lives {
  font-size: 1.2rem;
  color: crimson;
  margin-bottom: 1rem;
}

.timer-icon {
  width: 20px;
  height: 30px;
}

.live-icon {
  width: 30px;
  height: 30px;
}

.game-over {
  font-size: 2rem;
  color: darkred;
}

.restart-button {
  margin-top: 50px;
}

.timer {
  font-size: 1.2rem;
  color: #ff4d4d;
  font-weight: bold;
  margin-bottom: 1rem;
}

@media (max-width: 967px) {
  .dog-image {
    width: 250px;
    height: 280px;
  }
  h1 {
    margin-top: 10px;
  }
}
@media (max-width: 814px) {
  .dog-image {
    width: 220px;
    height: 260px;
  }

  @media (max-width: 757px) {
    .dog-image {
      width: 200px;
      height: 230px;
    }
    @media (max-width: 668px) {
      .dog-image {
        width: 180px;
        height: 210px;
      }
      @media (max-width: 609px) {
        .dog-image {
          width: 160px;
          height: 160px;
        }
        @media (max-width: 450px) {
          .dog-grid {
            margin-top: 10px;
            gap: 10px;
          }
          .score-lives {
            display: flex;
            align-items: baseline;
            justify-content: space-evenly;
          }

          .game h1 {
            font-size: 28px;
            margin-bottom: 0;
          }

          .game h2 {
            font-size: 1.4rem;
            margin-top: 15px;
          }
          .timer,
          .score,
          .lives {
            font-size: 0.9rem;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
