.game {
  text-align: center;
  padding: 2rem;
}

.start-btn {
  padding: 12px 24px;
  font-size: 1.1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 30svh;
}

.start-btn:hover {
  background-color: #45a049;
}

.score {
  margin-top: 1rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.score-num {
  color: red;
}

.heart {
  color: black;
}

.time {
  color: black;
}

.live {
  color: black;
}
.breed {
  color: #8e44ad;
  text-transform: capitalize;
}

.dog-grid {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.dog-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 12px;
  border: 3px solid transparent;
  transition: transform 0.2s, border-color 0.2s;
}

.dog-image:hover {
  transform: scale(1.05);
  border-color: #8e44ad;
}
.lives {
  font-size: 1.2rem;
  color: crimson;
  margin-bottom: 1rem;
}

.timer-icon {
  width: 20px;
  height: 30px;
}

.live-icon {
  width: 30px;
  height: 30px;
}

.game-over {
  font-size: 2rem;
  color: darkred;
}

.restart-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #8e44ad;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.restart-btn:hover {
  transform: scale(1.1);
}

.timer {
  font-size: 1.2rem;
  color: #ff4d4d;
  font-weight: bold;
  margin-bottom: 1rem;
}

@media (max-width: 450px) {
  .dog-grid {
    margin-top: 15px;
  }
  .dog-image {
    min-width: 280px;
    min-height: 280px;
  }
  .game h1 {
    font-size: 1.25rem;
  }

  .game h2 {
    font-size: 1.4rem;
  }
  .timer,
  .score,
  .lives {
    font-size: 0.9rem;
  }
}
