.game {
  text-align: center;
  padding: 15px;
}
.game h1 {
  color: var(--text-color);
  font-size: 30px;
  text-align: center;
  padding-top: 5svh;
  margin-bottom: 15px;
}
.question-text {
  color: var(--text-color);
  font-size: 22px;
}

.game h2 {
  margin-top: 15px;
}

.game-text {
  color: var(--text-color);
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
}
.start-btn {
  width: 200px;
  font-size: 30px;
  margin: 50px 20px;
}

.score {
  color: var(--text-color);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.score-num {
  color: red;
}

.heart {
  color: var(--text-color);
}

.time {
  color: var(--text-color);
}

.live {
  color: var(--text-color);
}
.breed {
  color: #8e44ad;
  text-transform: capitalize;
}

.dog-grid {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.dog-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.2s;
  box-shadow: 10px 10px 42px -9px rgba(0, 0, 0, 0.75);
}

.dog-image:hover {
  transform: scale(1.05);
}

.lives {
  font-size: 1.2rem;
  color: #f13259;
  margin-bottom: 1rem;
}

.timer {
  color: var(--text-color);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.timer-icon {
  width: 20px;
  height: 30px;
}

.live-icon {
  width: 30px;
  height: 30px;
}

.game-over {
  font-size: 30px;
  color: var(--accent-color);
}

.restart-btn {
  margin-top: 50px;
}

.repeat {
  margin-bottom: 60px;
}

.game-timer {
  font-size: 1.2rem;
  color: #ff4d4d;
  font-weight: bold;
  margin-bottom: 1rem;
}

@media (max-width: 967px) {
  .dog-image {
    width: 250px;
    height: 280px;
  }
}
@media screen and (max-width: 941px) and (orientation: landscape) {
  .dog-grid {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .game h1 {
    font-size: 20px;
    padding-top: 5svh;
  }
  .game h2 {
    margin-top: -50px;
  }
  .question-text[data-long='true'] {
    font-size: 18px;
  }

  .dog-image {
    width: 160px;
    height: 160px;
  }
  .score-lives {
    width: 100px;
  }

  .game h1 {
    font-size: 28px;
  }

  .timer,
  .score,
  .lives {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .pause-btn {
    position: absolute;
    top: 20%;
    right: 5%;
    background: var(--fill-button-color);
    color: #f6f0f6;
    transition: all 0.1s ease;
    width: 40px;
    height: 34px;
  }
  .paused {
    color: var(--text-color);
    font-size: 20px;
  }
  .toggle.active {
    position: absolute;
    top: 2px;
  }
}
/* 
@media (max-width: 757px) {
  .dog-image {
    width: 200px;
    height: 230px;
  }
  @media (max-width: 668px) {
    .dog-image {
      width: 180px;
      height: 210px;
    }
    @media (max-width: 609px) {
      .dog-image {
        width: 160px;
        height: 160px;
      } */
@media (max-width: 450px) {
  .dog-grid {
    margin-top: 20px;
    gap: 10px;
  }

  .game h1 {
    font-size: 20px;
  }
  .game h2 {
    margin-top: 10px;
  }
  .question-text[data-long='true'] {
    font-size: 18px;
  }

  .dog-image {
    width: 140px;
    height: 140px;
  }
  .score-lives {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
  }

  .game h1 {
    font-size: 28px;
  }

  .timer,
  .score,
  .lives {
    font-size: 0.9rem;
    margin-bottom: 5px;
  }
  .pause-btn {
    margin: 10px 0px;
    background: var(--fill-button-color);
    color: #f6f0f6;
    transition: all 0.1s ease;
    width: 40px;
    height: 34px;
  }
  .paused {
    color: var(--text-color);
    font-size: 20px;
  }
}
