.product-card {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid black;
  border-radius: var(--button-border-radius);
  background: #fff;
  margin: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
  transform: scale(1.02);
}

.fill-heart,
.line-heart {
  font-size: 30px;
}
.heart-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
  color: dimgrey;
}

.heart-btn:hover {
  color: red;
}

.heart-btn.active {
  color: red;
}

.heart-btn#heart:before {
  left: 50px;
  transform: rotate(-45deg);
}

.heart-btn#heart:after {
  left: 0;
  transform: rotate(45deg);
}

.heart-btn.active#heart:before,
.heart-btn.active#heart:after {
  background: red !important;
}
