.product-card {
  display: flex;
  height: 450px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  padding: 10px;
  border-bottom: 1px solid black;
  border-radius: var(--button-border-radius);
  background: #fff;
  margin: 10px 0px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.product-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: var(--button-border-radius);
}

.product-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.price,
.rating {
  font-size: 14px;
}

.product-card h2 {
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  cursor: pointer;
  color: var(--accent-color);
}

.product-card:hover {
  transform: scale(1.02);
}

.fill-heart,
.line-heart {
  font-size: 30px;
}
.heart-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
  color: dimgrey;
}

.heart-btn:hover {
  color: red;
}

.heart-btn.active {
  color: red;
}

.heart-btn#heart:before {
  left: 50px;
  transform: rotate(-45deg);
}

.heart-btn#heart:after {
  left: 0;
  transform: rotate(45deg);
}

.heart-btn.active#heart:before,
.heart-btn.active#heart:after {
  background: red !important;
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .product-card {
    width: 80%;
    height: 270px;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
  }

  .product-img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    border-radius: 10px;
  }

  .product-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .product-info h2,
  .product-info p {
    text-align: center;
  }
}
