.spinner {
  width: 20px;
  height: 20px;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-top: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
  margin-top: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
