.favourites-page h1 {
  color: var(--text-color);
  font-size: 30px;
  margin-top: 60px;
  text-align: center;
}

.favourites-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
  margin-bottom: 25px;
  width: 100%;
  padding: 0px 25.5px;
  margin-bottom: 30px;
}

.fav-page-text {
  text-align: center;
  margin-top: 20px;
}
