.admin-products {
  position: relative;
}

.admin-products h1 {
  color: var(--text-color);
  margin-top: 60px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
  margin-bottom: 30px;
}

.product-card {
  width: 320px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
  display: flex;
  gap: 15px;
  flex-direction: column;
  height: 600px;
  margin-bottom: 15px;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-card h2 {
  font-size: 1rem;
  margin-bottom: 8px;
  text-align: center;
}

.product-card p {
  color: var(--alt-text-color);
  margin-bottom: 10px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: auto;
}

.card-buttons button {
  flex: 1;
}

.admin-add-btn {
  position: fixed;
  top: 208px;
  right: 10px;
  background: #fff;
  color: #8e44ad;
  font-size: 40px;
  border: 1px solid #8e44ad;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.admin-add-btn:hover {
  border: 2px solid var(--fill-button-hover-color);
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.3s ease;
}

@media (max-width: 900px) {
  .admin-add-btn {
    display: none;
  }
}
