.admin-products {
  position: relative;
}

.admin-products h1 {
  color: var(--text-color);
  margin-top: 10svh;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.admin-product-card-info {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
  margin-bottom: 30px;
}

.admin-product-card {
  position: relative;
  height: 600px;
  width: 320px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.admin-product-card:hover {
  transform: translateY(-5px);
}

.admin-product-card img {
  width: 290px;
  height: 250px;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 10px;
}

.admin-product-card h2 {
  font-size: 1rem;
  margin-bottom: 8px;
  text-align: center;
}

.admin-product-card h4 {
  color: var(--accent-color);
}

.admin-product-card p {
  color: var(--alt-text-color);
  margin-bottom: 10px;
}

.admin-card-buttons {
  position: absolute;
  bottom: 15px;
  right: 55px;
  display: flex;
  gap: 10px;
}

.card-buttons button {
  flex: 1;
}

.admin-add-btn {
  position: fixed;
  top: 11%;
  right: 7px;
  background: #fff;
  color: #8e44ad;
  font-size: 40px;
  border: 1px solid #8e44ad;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.admin-add-btn:hover {
  border: 2px solid var(--fill-button-hover-color);
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.3s ease;
}

.modal-overlay {
  z-index: 10;
}

@media (max-width: 900px) {
  .admin-add-btn {
    display: none;
  }
}
@media screen and (max-width: 941px) and (orientation: landscape) {
  .admin-product-card {
    position: relative;
    width: 80%;
    height: 280px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 15px;
  }

  .admin-product-card img {
    width: 220px;
    height: 240px;
  }
  .admin-product-card-info {
    display: flex;
    gap: 0px;
    flex-direction: column;
    margin-top: 10px;
  }
  .admin-product-card-info h4 {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .admin-product-card-info p {
    font-size: 14px;
  }

  .admin-product-card-info h4 {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .admin-product-card-info p {
    font-size: 14px;
  }
  .admin-card-buttons {
    position: absolute;
    bottom: 15px;
    right: 25px;
    display: flex;
    gap: 10px;
  }
  .modal-content {
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .delete-modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    width: 320px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    animation: fadeIn 0.3s ease;
    width: 420px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .delete-modal-content h3 {
    font-size: 18px;
  }
  .delete-modal-content p {
    text-align: center;
  }
  .edit-form {
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .drop-zone p {
    font-size: 16px;
  }
  .edit-form h3 {
    font-size: 18px;
    margin-bottom: 0px;
  }
}
