.shop h1 {
  color: var(--text-color);
  margin-bottom: 20px;
  margin-top: 5svh;
  font-size: 30px;
  text-align: center;
}

.shop-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 0px 15px;
  margin-bottom: 30px;
}
.products div {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  margin: 0px 0px 20px;
}
.products div img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  object-fit: cover;
  object-fit: fill;
  cursor: pointer;
}
.products div p {
  color: var(--alt-text-color);
}
.rating {
  margin-bottom: 10px;
}
.select div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.select div label {
  font-size: 18px;
}
.select div select {
  padding: 15px;
}

@media (max-width: 768px) {
  .products div {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .products div {
    width: 100%;
  }
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.filter input,
.filter select {
  padding: 15px;
  border-radius: 8px;
}

@media (max-width: 671px) {
  .filter input,
  .filter select {
    width: 100px;
    font-size: 12px;
  }
  .search-bar input {
    width: 80%;
  }

  .products div {
    margin: 0px;
  }
}

@media (max-width: 506px) {
  .filter {
    flex-wrap: wrap;
    padding: 0px 20px;
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  .product-img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    border-radius: 10px;
  }

  .product-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .product-info h2,
  .product-info p {
    text-align: center;
  }
}
