header {
  height: 10svh;
  width: 100%;
  z-index: 500;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  height: 10svh;
}

.nav-list {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.nav-list li a {
  color: var(--text-color, #333);
  font-weight: 500;
  padding: 5px 10px;
  transition: color 0.2s ease;
}

.nav-list li a:hover {
  color: var(--accent-color);
}

.nav-list a:active {
  color: var(--accent-color);
  background-color: var(--button -color);
}

.auth-buttons {
  display: flex;
  gap: 10px;
  margin-left: 20px;
}

.logout-btn {
  width: 100px;
  padding: var(--button-padding);
  border: 0.5px solid var(--button-border-color);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  background-color: var(--button-color);
  transition: all 0.2s ease;
}

.logout-btn:hover {
  border-color: var(--button-hover-border-color);
  transform: scale(1.05);
}

.header-btn {
  background-color: var(--button-color);
  border: 1px solid var(--accent-color);
  color: var(--text-color);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease;
}

.header-btn:hover {
  border: 1.5px solid var(--button-hover-border-color);
  transform: scale(1.05);
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color, #333);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-btn:hover {
  color: var(--accent-color);
}

.mobile-icons {
  display: none;
}
@media (max-width: 967px) {
  .nav-list a {
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  .mobile-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 15px;
    position: relative;
  }

  .mobile-icons {
    display: flex;
    gap: 20px;
    margin-right: 50px;
    margin-top: 12px;
  }

  .mobile-icon {
    color: var(--text-color);
    transition: color 0.2s ease;
  }

  .mobile-icon:hover {
    color: var(--accent-color);
    transform: scale(1.1);
  }
}
