.password-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  position: relative;
  width: 100%;
  max-width: 250px;
}

.password-input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 200px;
  padding: var(--button-padding);
  margin: 12px 0;
  border-radius: var(--button-border-radius);
  border: 1px solid var(--button-border-color);
  font-size: 14px;
  outline: none;
  background-color: var(--button-color);
  color: var(--text-color);
}

.password-input:focus {
  border-color: var(--accent-color);
}

.password-input::placeholder {
  color: rgb(192, 184, 184);
}
.toggle-password-icon {
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

.toggle-icon {
  color: rgb(6, 5, 5);
  filter: invert(0.7);
  width: 25px;
  height: 25px;
  opacity: 0.6;
  transition: opacity 1s ease-in-out;
  cursor: pointer;
}

.toggle-icon:hover {
  opacity: 1;
}

/* img.invert-on-dark {
  transition: filter 0.3s ease;
}

body.dark-theme img.invert-on-dark {
  filter: invert(1);
} */
