.form-input {
  background: var(--input-color);
  color: var(--text-color);
  width: 200px;
  padding: var(--button-padding);
  margin: 15px 0;
  border-radius: var(--button-border-radius);
  border: 1px solid var(--button-border-color);
  font-size: 14px;
}

.form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-input::placeholder {
  color: rgb(192, 184, 184);
}
