.cardDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  margin-top: 20px;
}

.top-dogs h1,
.questionnaire h1 {
  font-size: 30px;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 30px;
}

.dogCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  justify-content: space-evenly;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px 0px var(--box-shadow);
  border-bottom: 1.5px solid rgb(6, 5, 5);
}

.resultsText {
  text-align: center;
  margin-top: 25px;
  padding: 0px 20px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.suitable-dog-popup-content {
  margin: auto;
  background: var(--popup-color);
  padding: 25px 30px;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
  max-height: 75%;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  transform: scale(0.8);
  opacity: 0;
  animation: popupFadeIn 0.3s forwards;
}

.suitable-dog-popup-content h2 {
  color: var(--alt-text-color);
  text-align: center;
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.suitable-dog-popup-content p {
  color: var(--text-color);
  padding: 10px;
  margin-bottom: 15px;
}

.dogImgLarge {
  width: 100%;
  height: auto;
  max-height: 270px;
  object-fit: cover;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.42);
  border-bottom: 2px solid rgb(6, 5, 5);
}

.modal-close {
  position: absolute;
  top: 2px;
  left: 12px;
  font-size: 40px;
  cursor: pointer;
  color: #000;
  background: none;
  border: none;
}

.modal-close:hover {
  transform: scale(1.2);
  color: var(--accent-color);
}

@keyframes popupFadeIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.dogImg {
  width: 260px;
  border-radius: 10px;
  object-fit: cover;
}
.dogName {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background-color: #f5f5f5;
}
.cardDiv > div:hover {
  transform: scale(1.1);
}
.questionnaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 100%;
  padding: 0px 20px;
  gap: 15px;
}
.questionnaire > div {
  display: flex;
  justify-content: center;
}

.options {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.optionInput {
  width: 280px;
  padding: var(--button-padding);
  border: 0.5px solid var(--input-border-color);
  cursor: pointer;
  border-radius: var(--button-border-radius);
  background-color: var(--button-color);
}
.optionInput:hover {
  border: 1.5px solid #8e44ad;
}

.questionnaire-back-btn {
  margin-top: 20px;
}

.repeat {
  text-align: center;
}

.repeat-button {
  width: 120px;
  margin-top: 20px;
  margin-bottom: 40px;
}

@media (max-width: 580px) {
  .suitable-dog-popup-content {
    max-width: 90%;
    max-height: 75%;
  }
  .suitable-dog-popup-content p {
    padding: 0px;
    margin-bottom: 0px;
  }
}
